{
  "presets": [
    "next/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "inline-dotenv",
        "babel-plugin-inline-import-graphql-ast",
        [
          "import",
          {
            "libraryName": "antd",
            "style": false
          }
        ],
        [
          "module-resolver",
          {
            "root": [
              "./"
            ],
            "alias": {
              "components": "./components",
              "lib": "./lib",
              "layouts": "./layouts"
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-inline-environment-variables",
        "babel-plugin-inline-import-graphql-ast",
        [
          "import",
          {
            "libraryName": "antd",
            "style": false
          }
        ],
        [
          "module-resolver",
          {
            "root": [
              "./"
            ],
            "alias": {
              "components": "./components",
              "lib": "./lib",
              "layouts": "./layouts"
            }
          }
        ]
      ]
    }
  }
}
