{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "babel-plugin-inline-import-graphql-ast",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "components": "./components",
          "lib": "./lib",
          "layouts": "./layouts",
          "utils": "./utils"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": false
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "inline-dotenv"
      ]
    },
    "production": {
      "plugins": [
        "transform-inline-environment-variables"
      ]
    }
  }
}
